*{ 
  box-sizing: border-box; 
  padding:0; 
  margin:0; 
  font-size:0; 
  border:0; 
  outline:none; 
  overflow:hidden; 
  -webkit-tap-highlight-color:transparent;
  -moz-user-select:none; 
  -ms-user-select:none; 
  -webkit-user-select:none; 
  user-select:none;
}

html,body,.full,.gameboard>tbody{
  width:100%; 
  height:100%;
}

#page{
  display:flex; 
  justify-content:center; 
  align-items:center; 
  background: #342d7d;
}


.gameboard{
  table-layout:fixed; 
  height:100%; 
  background:black; 
  border-collapse:collapse; 
}
.gameboard tr,.gameboard td{
  width:100%; 
  height:calc(100% / 8);
}

.gameboard tr:nth-child(odd)>td:nth-child(odd),.gameboard tr:nth-child(even)>td:nth-child(even){
  background:#5f5f5f;
}
.gameboard td>div{
  cursor:pointer; 
  width:100%; 
  height:100%; 
  border:double rgb(10, 7, 37) 4px; 
  border-radius:50%;
}
.red_disk{
  background: #D4AF37; 
}
.black_disk{
  background:#341d5c; 
}

td>.using{
  position:absolute;
}
