*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.upperdiv{
   position: absolute;
   top: 47%; 
   left: 50%;
   transform: translate(-50%, -50%);
   width: 870px;
   height: 870px;
   font-size: 1.5rem;
}

.board{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    height: 810px;
    width: 810px;
    cursor: grab;
}

.square {
    height: 100px;
    width: 100px;
}

.black {
    background: purple;
}

.white {
    background: goldenrod;
}

.numbers{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    top: 0;
    text-align: center;
}

.letters{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}

